body {
    font-family: Arial;
    display: flex;
    justify-content: center;
}

.card{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

#app h3{
    margin-bottom: 5px;
}

.meses {
    display: flex;
    width: 790px;
    justify-content: space-between;
    margin-left: 44px;
    margin-bottom: 5px;
}

.meses p{
    margin: 0;
}

.semana{
    display: flex;
    flex-direction: column;
    height: 102px;
    justify-content: space-between;
    padding: 12px 5px;
    box-sizing: border-box;
}

.grafico {
    display: flex;
    gap: 3px;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.dia {
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

.coluna.end {
    justify-content: flex-end;
}